@model WebReader.Models.Dtos.AllScheduledTasksViewModel

<table>
    <thead>
    <tr>
        <th><h4>Type</h4></th>
        <th><h4>Status</h4></th>
        <th><h4>Progress</h4></th>
        <th><h4>Result</h4></th>
        <th><h4>Have To Start At</h4></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr onclick="openModalClicked(`<pre>${JSON.stringify(@(JsonSerializer.Serialize(item)), null, 2)}</pre>`)">
            <td>@($"{item.Type}({(int)item.Type})".LimitToNullable(30))</td>
            <td>@item.Status</td>
            <td>
                <div>
                    <div class="progress-bar"></div>
                    <div progress="@((int)(item.Progress * 100))" progress-multiplier="47"
                         class="progress-bar-inner progress-bar-inner-linear"></div>
                    <div progress="@((int)(item.Progress * 100))"
                         class="progress-bar-inner progress-bar-inner-text">@((int)(item.Progress * 100))</div>
                </div>
            </td>
            <td>@item.Result.LimitToNullable(50)</td>
            <td>@item.HaveToStartAt.LocalDateTime.ToString("dd.MM.yyyy HH:mm:ss")</td>
        </tr>
    }
    </tbody>
</table>
