@model WebReader.Models.Dtos.AllFilesInBucketViewModel
@{
    ViewData["Title"] = "FILES";
}

@section Style
{
    <link rel="stylesheet" href="~/css/file-list.css" asp-append-version="true"/>
}

@section SpecialInfo {
    @if (User.Identity is { IsAuthenticated: true })
    {
        <h3 class="special-info-big">Hello, @User.Identity.Name!</h3>
    }
}

@section HeaderMenuItems
{
    <li>
        <a asp-controller="File" asp-action="GetAllFilesInBucket"
           asp-route-bucketId="@Model.Id" class="click-effect">
            @Model.BucketName
        </a>
    </li>
}

<div id="full_content">
    <details open class="always-open-details">
        <summary>
            <span>@Model.Items.First().FileName</span>
        </summary>
        @foreach (var item in Model.Items)
        {
            <div class="item-line" id="@("RL_" + item.Id)">
                @if (item.IsReading)
                {
                    <div class="center secondary-info-span @(item.IsDone ? "is-done" : "in-progress")"></div>
                }
                else
                {
                    <div class="in-progress-empty secondary-info-span"></div>
                }

                <a asp-controller="File" asp-action="GetFile"
                   asp-route-bucketId="@Model.Id"
                   asp-route-fileId="@item.Id" class="click-effect">
                    <span class="left main-info-span importance-0">@item.CurrentPartName</span>
                    <span class="right secondary-info-span importance-3">@item.Type?.ToLower()</span>
                    <span
                        class="right secondary-info-span importance-2 to-local-date"
                        utc="@item.DateTime.ToString("O")"></span>
                    <span class="right secondary-info-span importance-1">@FormatSize(item.Size)</span>
                </a>

                <div class="event-output">
                    <button class="download-file click-effect"
                            data-file-id="@item.Id" data-bucket-id="@Model.Id"
                            data-file-name='@item.FileName @item.CurrentPartName'></button>
                    <button class="remove click-effect delete-row-btn"
                            onclick="Delete('@item.Id', '@item.FileName @item.CurrentPartName')"></button>
                </div>
            </div>
        }
    </details>
</div>

@await Html.PartialAsync("_EmptyDisplay")

@if (Model.IsBelongsToUser)
{
    <div class="upload-btn-container">
        <a class="btn click-effect" asp-controller="File"
           asp-action="UploadFile"
           asp-route-bucketId="@Model.Id">
            Upload File
        </a>
    </div>
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="~/js/cache/file-download.js" asp-append-version="true"></script>
    <script>
        window.addEventListener("load", () => {
            Array.from(document.querySelectorAll(".download-file")).forEach(el => {
                new FileDownloadButton(el, el.dataset.bucketId, el.dataset.fileId, el.dataset.fileName);
            });
        });
    </script>

    <script>
        const url = '/api/FileApi/DeleteFile';
        const lineSelector = '.item-line';
    </script>
    <script src="~/js/delete-row.js" asp-append-version="true"></script>
    <script src="~/js/empty-row-control.js" asp-append-version="true"></script>

    <script>
        CheckOnEmpty();
        convertUtcToLocal();
    </script>
}
