@model WebReader.Models.Dtos.AllFilesInBucketViewModel
@{
    ViewData["Title"] = "FILES";
}

@section Style
{
    <style>
        main {
            justify-content: space-between;
            min-height: calc(100vh - 6em);
        }

        @@media (hover: none) and (pointer: coarse) {
            main {
                min-height: calc(100dvh - 6em);
            }
        }

        #full_content {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: calc(var(--max-width) - 1em);
        }

        .file-line {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            min-height: 2em;
        }

        .file-line > a {
            display: flex;
            justify-content: space-between;
            gap: 0.5em;
            grid-auto-rows: 2em;
            align-items: center;
            width: 100%;
        }

        .file-line > a > span {
            overflow: hidden;
            white-space: nowrap;
        }

        .file-line > a > .left {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            white-space: pre-wrap;
        }

        .file-line > a > .center {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .file-line > a > .right {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        .file-line > a > div > .in-progress,
        .file-line > a > div > .is-done {
            font-size: 0.75em;
        }

        .file-line:not(:last-child) {
            margin-bottom: 0.5em;
        }

        .secondary-info-span {
            flex-grow: 0;
            flex-shrink: 0;
        }

        .main-info-span {
            flex-grow: 1;
        }

        .in-progress-empty {
            font-size: 0.75em;
            height: 2em;
            width: 2em;
        }

        .upload-btn-container {
            margin-top: 1em;
        }

        .event-output {
            height: 2em;
            width: 2em;
            opacity: 1;
            transition: none;
            margin-left: 0.5em;
        }
    </style>
}

@section SpecialInfo {
    @if (User.Identity is { IsAuthenticated: true })
    {
        <h3 class="special-info-big">Hello, @User.Identity.Name!</h3>
    }
}

@section HeaderMenuItems
{
    <li>
        <a asp-controller="File" asp-action="GetAllFilesInBucket"
           asp-route-bucketId="@Model.Id">
            @Model.BucketName
        </a>
    </li>
}

<div id="full_content">
    <details open class="always-open-details">
        <summary>
            <span>@Model.Items.First().FileName</span>
        </summary>
        @foreach (var item in Model.Items)
        {
            <div class="file-line" id="@("RL_" + item.Id)">
                <a asp-controller="File" asp-action="GetFile"
                   asp-route-bucketId="@Model.Id"
                   asp-route-fileId="@item.Id">
                    @if (item.IsReading)
                    {
                        <div class="center secondary-info-span">
                            @if (item.IsDone)
                            {
                                <span class="is-done"></span>
                            }
                            else
                            {
                                <span class="in-progress"></span>
                            }
                        </div>
                    }
                    else
                    {
                        <span class="in-progress-empty secondary-info-span"></span>
                    }
                    <span class="left main-info-span">@item.CurrentPartName</span>
                    <span class="right secondary-info-span">@item.Type?.ToLower()</span>
                    <span
                        class="right secondary-info-span">@item.DateTime.LocalDateTime.ToString("dd.MM.yyyy")</span>
                    <span class="right secondary-info-span">@FormatSize(item.Size)</span>
                </a>
                <div class="event-output">
                    <button class="remove" onclick="Delete('@item.Id')"></button>
                </div>
            </div>
        }
    </details>
</div>

@await Html.PartialAsync("_EmptyDisplay")

@if (Model.IsBelongsToUser)
{
    <div class="upload-btn-container">
        <a class="btn" asp-controller="File"
           asp-action="UploadFile"
           asp-route-bucketId="@Model.Id">
            Upload File
        </a>
    </div>
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const fullContentEl = document.getElementById("full_content");
        const emptyContentEl = document.getElementById("empty_content");

        CheckOnEmpty();

        async function Delete(id) {
            document.querySelectorAll(".remove").forEach(el => el.disabled = true);
            document.querySelector(`#RL_${id} > .event-output > button`).classList = 'waiting';

            requestQueue.enqueue({
                method: 'POST',
                url: '/api/FileApi/DeleteFile',
                data: {
                    FileId: id
                },
                options: {
                    headers: {
                        'RequestVerificationToken': GetAntiForgeryToken()
                    },
                    withCredentials: true
                },
                beforeSend: () => {
                }
            })
                .then(_ => {
                    document.querySelector(`#RL_${id} > .event-output > button`).classList = 'success';

                    setTimeout(() => {
                        document.getElementById(`RL_${id}`).remove();
                        CheckOnEmpty();
                        document.querySelectorAll(".remove").forEach(el => el.disabled = false);
                    }, 1000);
                })
                .catch(_ => {
                    document.querySelector(`#RL_${id} > .event-output > button`).classList = 'error';

                    setTimeout(() => {
                        document.querySelector(`#RL_${id} > .event-output > button`).classList = 'remove';
                        document.querySelectorAll(".remove").forEach(el => el.disabled = false);
                    }, 1000);
                });
        }

        function CheckOnEmpty() {
            document.querySelectorAll("#full_content > details").forEach(el => {
                if (el.querySelectorAll(".file-line").length === 0) {
                    el.style.display = "none";

                    if (!document.querySelectorAll("#full_content > details").values()
                        .some(f => f.open && f.style.display !== "none")) {
                        document.querySelector("#full_content > details").open = true;
                    }
                }
            });

            if (document.querySelectorAll(".file-line").length === 0) {
                fullContentEl.style.display = "none";
                emptyContentEl.style.display = "flex";
            } else {
                fullContentEl.style.display = "flex";
                emptyContentEl.style.display = "none";
            }
        }
    </script>
}
