@model WebReader.Models.Dtos.AllFilesInBucketViewModel
@inject IHttpContextAccessor HttpContextAccessor
@{
    var nonce = HttpContextAccessor.HttpContext?.Items["ScriptNonce"]?.ToString();
    ViewData["Title"] = "FILES";
}

@section Style
{
    <link rel="stylesheet" href="~/css/file-list.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/lazy-image.css" asp-append-version="true"/>
}

@section SpecialInfo {
    @if (User.Identity is { IsAuthenticated: true })
    {
        <h3 class="special-info-big">Hello, @User.Identity.Name!</h3>
    }
}

@section HeaderMenuItems
{
    <li>
        <a asp-controller="File" asp-action="GetAllFilesInBucket"
           asp-route-bucketId="@Model.Id" class="click-effect">
            @Model.BucketName
        </a>
    </li>
}

<div id="full_content">
    <details open class="always-open-details">
        <summary>
            <span>@Model.Items.First().FileName</span>
        </summary>

        <div>
            @foreach (var item in Model.Items)
            {
                <div class="item-line" id="@("RL_" + item.Id)">
                    <div class="lazy-image-wrapper">
                        <img class="lazy-image"
                             src=""
                             data-src="@Url.Action("GetCover", "Cover", new { bucketId = Model.Id, fileId = item.Id })"
                             alt="Book Cover for @item.CurrentPartName"
                             loading="lazy"/>
                        <div class="lazy-image-loader"></div>
                    </div>

                    <a asp-controller="File" asp-action="GetFile"
                       asp-route-bucketId="@Model.Id"
                       asp-route-fileId="@item.Id" class="click-effect">
                        <span class="left main-info-span importance-0">@item.CurrentPartName</span>
                    </a>

                    <div class="event-output">
                        @if (item.IsReading)
                        {
                            <div class="center secondary-info-span @(item.IsDone ? "is-done" : "in-progress")"></div>
                        }
                        <button class="download-file click-effect"
                                data-file-id="@item.Id" data-bucket-id="@Model.Id"
                                data-file-name='@item.FileName @item.CurrentPartName'></button>
                        <button class="remove click-effect delete-row-btn"
                                onclick="Delete('@item.Id', '@item.FileName @item.CurrentPartName')"></button>
                    </div>
                </div>
            }
        </div>
    </details>
</div>

@await Html.PartialAsync("_EmptyDisplay")

@if (Model.IsBelongsToUser)
{
    <div class="upload-btn-container">
        <a class="btn click-effect" asp-controller="File"
           asp-action="UploadFile"
           asp-route-bucketId="@Model.Id">
            Upload File
        </a>
    </div>
}

@section Scripts
{
    <script nonce="@nonce" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script nonce="@nonce" src="~/js/cache/file-download.js" asp-append-version="true"></script>
    <script nonce="@nonce">
        window.addEventListener("load", () => {
            Array.from(document.querySelectorAll(".download-file")).forEach(el => {
                new FileDownloadButton(el, el.dataset.bucketId, el.dataset.fileId, el.dataset.fileName);
            });
        });
    </script>

    <script nonce="@nonce">
        const url = '/api/FileApi/DeleteFile';
        const lineSelector = '.item-line';
    </script>
    <script nonce="@nonce" src="~/js/delete-row.js" asp-append-version="true"></script>
    <script nonce="@nonce" src="~/js/empty-row-control.js" asp-append-version="true"></script>
    <script nonce="@nonce" src="~/js/lazy-image-observer.js" asp-append-version="true"></script>

    <script nonce="@nonce">
        CheckOnEmpty();
        convertUtcToLocal();
    </script>
}
