@model WebReader.Models.Dtos.AllBucketsViewModel

@{
    ViewData["Title"] = "BUCKETS";
}

@section Style
{
    <link rel="stylesheet" href="~/css/file-list.css" asp-append-version="true"/>
}

@section SpecialInfo
{
    @if (User.Identity is { IsAuthenticated: true })
    {
        <h3 class="special-info-big">Hello, @User.Identity.Name!</h3>
    }
}

<div id="full_content">
    <details open class="always-open-details">
        <summary>
            <span>Buckets</span>
        </summary>

        @foreach (var item in Model.Items)
        {
            <div class="item-line">
                <a asp-controller="File" asp-action="GetAllFilesInBucket"
                   asp-route-bucketId="@item.Id" style="width: 100%;">
                    <span class="main-info-span importance-0">@item.CustomName</span>
                    <span
                        class="secondary-info-span importance-2 to-local-date"
                        utc="@item.DateTime.ToString("O")"></span>
                    <span class="secondary-info-span importance-1">@FormatSize(item.Size)</span>
                </a>
            </div>
        }
    </details>
</div>
@await Html.PartialAsync("_EmptyDisplay")

@section Scripts
{
    <script>
        const lineSelector = '.item-line';
    </script>
    <script src="~/js/empty-row-control.js"></script>
    <script>
        CheckOnEmpty();
        convertUtcToLocal();
    </script>
}
