@model WebReader.Models.Dtos.AllFilesInBucketViewModel
@{
    ViewData["Title"] = "FILES";
}

@section Style
{
    <style>
    </style>
}

@if (Model.Items.Any())
{
    @foreach (var item in Model.Items)
    {
        <div>
            <a asp-controller="File" asp-action="GetFile"
               asp-route-bucketId="@Model.BucketId"
               asp-route-objectName="@item.Name">@item.CustomName - @item.DateTime - @FormatSize(item.Size)</a>
        </div>
    }
}
else
{
    @await Html.PartialAsync("_EmptyDisplay")
}

@section Scripts
{
    <script>
    </script>
}
