@model WebReader.Models.Dtos.AllFilesInBucketViewModel
@{
    ViewData["Title"] = "FILES";
}

@section Style
{
    <link rel="stylesheet" href="~/css/file-list.css" asp-append-version="true"/>
}

@section SpecialInfo
{
    @if (User.Identity is { IsAuthenticated: true })
    {
        <h3 class="special-info-big">Hello, @User.Identity.Name!</h3>
    }
}

<div id="full_content">
    <details open class="always-open-details">
        <summary>
            <span>@Model.BucketName</span>
        </summary>
        @foreach (var item in Model.Items)
        {
            @if (item.IsParted)
            {
                <div class="item-line">
                    <a asp-controller="File" asp-action="GetAllPartsInFile"
                       asp-route-bucketId="@Model.Id"
                       asp-route-fileId="@item.Id">
                        <div class="center parted secondary-info-span"></div>
                        <span class="left main-info-span importance-0">@item.FileName</span>
                    </a>
                </div>
            }
            else
            {
                <div class="item-line" id="@("RL_" + item.Id)">
                    <a asp-controller="File" asp-action="GetFile"
                       asp-route-bucketId="@Model.Id"
                       asp-route-fileId="@item.Id">
                        @if (item.IsReading)
                        {
                            <div class="center secondary-info-span">
                                @if (item.IsDone)
                                {
                                    <span class="is-done"></span>
                                }
                                else
                                {
                                    <span class="in-progress"></span>
                                }
                            </div>
                        }
                        else
                        {
                            <span class="in-progress-empty secondary-info-span"></span>
                        }
                        <span class="left main-info-span importance-0">@item.FileName</span>
                        <span class="right secondary-info-span importance-3">@item.Type?.ToLower()</span>
                        <span
                            class="right secondary-info-span importance-2">@item.DateTime.LocalDateTime.ToString("dd.MM.yyyy")</span>
                        <span class="right secondary-info-span importance-1">@FormatSize(item.Size)</span>
                    </a>
                    <div class="event-output">
                        <button class="remove"
                                onclick="Delete('@item.Id', '@item.FileName')"></button>
                    </div>
                </div>
            }
        }
    </details>
</div>
@await Html.PartialAsync("_EmptyDisplay")

@if (Model.IsBelongsToUser)
{
    <div class="upload-btn-container">
        <a class="btn" asp-controller="File"
           asp-action="UploadFile"
           asp-route-bucketId="@Model.Id">
            Upload File
        </a>
    </div>
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const url = '/api/FileApi/DeleteFile';
        const lineSelector = '.item-line';
    </script>
    <script src="~/js/delete-row.js"></script>
    <script src="~/js/empty-row-control.js"></script>
    <script>CheckOnEmpty()</script>
}
