@model WebReader.Models.Dtos.AllBucketsViewModel

@{
    ViewData["Title"] = "BUCKETS";
}

@section Style
{
    <link rel="stylesheet" href="~/css/file-list.css" asp-append-version="true"/>
}

@section SpecialInfo
{
    @if (User.Identity is { IsAuthenticated: true })
    {
        <h3 class="special-info-big">Hello, @User.Identity.Name!</h3>
    }
}

<div id="full_content">
    <h2>All Available Buckets</h2>
    @foreach (var item in Model.Items)
    {
        <div class="item-line">
            <a asp-controller="File" asp-action="GetAllFilesInBucket"
               asp-route-bucketId="@item.Id">
                <span class="main-info-span importance-0">@item.CustomName</span>
                <span
                    class="secondary-info-span importance-2">@item.DateTime.LocalDateTime.ToString("dd.MM.yyyy")</span>
                <span class="secondary-info-span importance-1">@FormatSize(item.Size)</span>
            </a>
        </div>
    }
</div>
@await Html.PartialAsync("_EmptyDisplay")

@section Scripts
{
    <script>
        const lineSelector = '.item-line';
    </script>
    <script src="~/js/empty-row-control.js"></script>
    <script>CheckOnEmpty()</script>
}
