@model WebReader.Models.Dtos.AllFilesInBucketViewModel
@{
    ViewData["Title"] = "FILES";
}

@section Style
{
    <style>
        .file-line {
            width: 100%;
            max-width: var(--max-width);
        }
    </style>
}

@if (Model.Items.Any())
{
    @foreach (var item in Model.Items)
    {
        <div class="file-line">
            <a asp-controller="File" asp-action="GetFile"
               asp-route-bucketName="@Model.BucketId"
               asp-route-fileName="@item.Name">@item.CustomName @(item.Type != null ? $"- {item.Type}" : "") - @item.DateTime.LocalDateTime - @FormatSize(item.Size)</a>
        </div>
    }
}
else
{
    @await Html.PartialAsync("_EmptyDisplay")
}

@section Scripts
{
    <script>
    </script>
}
