@model WebReader.Models.Dtos.FileViewModel

@{
    ViewData["Title"] = Model.Title;
}

@section Style
{
    <link rel="stylesheet" href="~/css/file-common-preview.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/file-fb2-preview.css" asp-append-version="true"/>
}

@section SpecialInfo
{
    <h3 class="special-info-big">@Model.Title @Model.CurrentPartName</h3>
}

<h3 class="special-info-small">@Model.Title @Model.CurrentPartName</h3>

@await Html.PartialAsync("_ModalInfoWithCustomHtml")

<div class="fb2-canvas-container">
</div>

@section Footer
{
    <div class="controls">
        <div class="spacer controls-start">
            @await Html.PartialAsync("_FullscreenControl")
        </div>
        <div class="controls-center">
            <button class="prev-page"></button>
            <span class="preview-page">0/0</span>
            <button class="next-page"></button>
        </div>
        <div class="controls-end">
            <div class="event-output"></div>

            <select class="set-scale">
                <option value="50">50%</option>
                <option value="75">75%</option>
                <option value="100">100%</option>
                <option value="125">125%</option>
                <option value="150">150%</option>
            </select>
        </div>
    </div>
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module">
        const url = @Html.Raw(Json.Serialize($"/api/S3/GetFile?bucketId={Model.BucketId}&fileId={Model.FileId}"));
        const decodedString = url.replace(/\\u0026/g, '&')
        let pages = [];
        let currentPage = @Model.Page;
        let currentScale = @Model.Scale;
        let maxPage = 1;
        const imageMap = new Map();
        const noteMap = new Map();

        requestQueue.enqueue({
            method: 'POST',
            url: decodedString,
            data: {},
            options: {
                headers: {
                    'RequestVerificationToken': GetAntiForgeryToken()
                },
                withCredentials: true
            },
            beforeSend: () => {
                customSendCurrPageEvent.detail.message = `<div class="waiting"></div>`;
                customSendCurrPageEvent.detail.type = EventTypes.INFINITE;
                targetElement.dispatchEvent(customSendCurrPageEvent);
            }
        })
            .then(response => {
                loadFB2(response.data);
                customSendCurrPageEvent.detail.message = `<div class="success"></div>`;
                customSendCurrPageEvent.detail.type = EventTypes.FROM_MILLIS;
                customSendCurrPageEvent.detail.millis = 3000;
                targetElement.dispatchEvent(customSendCurrPageEvent);
            })
            .catch(_ => {
                customSendCurrPageEvent.detail.message = `<div class="error"></div>`;
                customSendCurrPageEvent.detail.type = EventTypes.FROM_MILLIS;
                customSendCurrPageEvent.detail.millis = 3000;
                targetElement.dispatchEvent(customSendCurrPageEvent);
            });

        function loadFB2(fb2Text) {
            try {
                parseFB2(fb2Text);
                maxPage = pages.length;
                SetPage(currentPage, false);
                SetScale(currentScale, false);
            } catch (err) {
                console.error('Failed to load FB2:', err);
            }
        }

        function renderPage() {
            document.querySelector('.fb2-canvas-container').innerHTML = pages[currentPage - 1];

            Array.from(document.getElementsByClassName("preview-page")).forEach(value => {
                value.textContent = `${currentPage}/${maxPage}`;
            });
        }

        function parseFB2(xmlString) {
            const parser = new DOMParser();
            const doc = parser.parseFromString(xmlString, 'application/xml');
            if (doc.querySelector('parsererror')) {
                console.error('Invalid XML');
                return;
            }

            const sections = Array.from(doc.querySelectorAll("section"));

            const maxPCount = 6;

            sections.forEach(section => {
                const parts = Array.from(section.querySelectorAll(":scope > *"));
                if (parts.length <= maxPCount) return;

                const wordCountToSlice = 2500;
                let currWordCount = 0;

                const fragment = doc.createDocumentFragment();

                let newSection = doc.createElement("section");
                newSection.setAttribute("data-split", "true");
                for (const attr of section.attributes) {
                    newSection.setAttribute(attr.name, attr.value);
                }

                parts.forEach(part => {
                    let wordCount = part.textContent.trim().split('').length;
                    currWordCount += wordCount;

                    switch (part.localName) {
                        case "title":
                            break;
                        case "image":
                            currWordCount += 50 - wordCount;
                            break;
                        case "cite":
                            break;
                        case "p":
                            break;
                        default:
                            break;
                    }

                    newSection.appendChild(part.cloneNode(true));

                    if (currWordCount > wordCountToSlice) {
                        fragment.appendChild(newSection);

                        newSection = doc.createElement("section");
                        newSection.setAttribute("data-split", "true");
                        for (const attr of section.attributes) {
                            newSection.setAttribute(attr.name, attr.value);
                        }
                        currWordCount = 0;
                    }
                });

                section.parentNode.replaceChild(fragment, section);
            });

            doc.querySelectorAll('binary').forEach(bin => {
                const id = bin.getAttribute('id');
                const type = bin.getAttribute('content-type') || 'image/png';
                const data = bin.textContent.trim();
                if (id && data) imageMap.set(id, `data:${type};base64,${data}`);
            });

            doc.querySelectorAll('body[name="notes"] > section').forEach(note => {
                const id = note.getAttribute('id');
                if (id && note) noteMap.set(id, new DOMParser().parseFromString(convertNode(note, imageMap, false), 'text/html').querySelector('section').innerHTML);
            });

            const coverImg = doc.querySelector('coverpage image');
            if (coverImg) {
                const href = coverImg.getAttribute('l:href') || coverImg.getAttribute('href');
                if (href?.startsWith('#')) {
                    const src = imageMap.get(href.slice(1));
                    if (src) {
                        pages.push(`<div class="fb2-cover"><img src="${escapeHtml(src)}" class="fb2-cover-img" alt="Cover" /></div>`);
                    }
                }
            }

            const body = doc.querySelector('body');

            convertNode(body, imageMap);

            pages = pages.filter(page => page !== '')
        }

        function convertNode(node, imageMap, isPage = true) {
            if (node.nodeType === Node.TEXT_NODE) {
                return escapeHtml(node.nodeValue);
            }
            if (node.nodeType !== Node.ELEMENT_NODE) return '';

            const tag = node.localName;
            const children = () => Array.from(node.childNodes).map(n => convertNode(n, imageMap, isPage)).join('');

            switch (tag) {
                case 'p':
                    return `<p>${children()}</p>`;
                case 'cite':
                    return `<p class="cite-author">${children()}</p>`;
                case 'section':
                    if (isPage) pages.push(`<section>${children()}</section>`);
                    return `<section>${children()}</section>`;
                case 'title': {
                    const level = node.closest('section') ? 2 : 1;
                    return `<h${level}>${children()}</h${level}>`;
                }
                case 'image':
                case 'img': {
                    const href = node.getAttribute('l:href') || node.getAttribute('href') || '';
                    if (href.startsWith('#')) {
                        const src = imageMap.get(href.slice(1));
                        if (!isPage) return `<div class="fb2-image-container"><img src="${escapeHtml(src)}" class="fb2-image" /></div>`;
                        else {
                            return `<div class="fb2-image-container">
                                        <details>
                                            <summary><span>Image (click to toggle)</span></summary>
                                            <img onclick='this.parentNode.removeAttribute("open")' src="${escapeHtml(src)}" class="fb2-image" alt="Image not found"/>
                                        </details>
                                    </div>`;
                        }
                    }
                    return `<div>[Image missing: ${href}]</div>`;
                }
                case 'poem':
                    return `<div class="poem">${children()}</div>`;
                case 'v':
                    return `<div class="verse">${children()}</div>`;
                case 'empty-line':
                    return '';
                case 'emphasis':
                    return `<em>${children()}</em>`;
                case 'strong':
                    return `<strong>${children()}</strong>`;
                case 'a':
                    if (node.getAttribute('type') === 'note') {
                        const onClickHtml = noteMap.get(node.getAttribute('l:href').replace('#', ''));
                        return `<button type="button" class="note-btn" onclick='openModalClicked(${JSON.stringify(onClickHtml)})'></button>`;
                    } else return '';
                default:
                    return children();
            }
        }

        function escapeHtml(str) {
            return str?.trim().replaceAll('\n', '').replaceAll(/[&<>"']/g, m =>
                ({'&': '&amp;', '<': '&lt;', '>': '&gt;', '"': '&quot;', "'": '&#039;'}[m])
            ) || '';
        }

        Array.from(document.getElementsByClassName("prev-page")).forEach(value => {
            value.onclick = () => {
                SetPage(--currentPage);

                Array.from(document.getElementsByClassName("next-page")).forEach(value => {
                    value.disabled = false;
                });
            };
        });

        Array.from(document.getElementsByClassName("next-page")).forEach(value => {
            value.onclick = () => {
                SetPage(++currentPage);

                Array.from(document.getElementsByClassName("prev-page")).forEach(value => {
                    value.disabled = false;
                });
            };
        });

        Array.from(document.getElementsByClassName("set-scale")).forEach(value => {
            value.value = currentScale;

            value.onchange = (e) => {
                SetScale(e.target.value);
            };
        });

        function SetPage(page, send = true) {
            currentPage = clamp(page, 1, maxPage);

            if (currentPage === maxPage) {
                Array.from(document.getElementsByClassName("next-page")).forEach(value => {
                    value.disabled = true;
                });
            } else if (currentPage === 1) {
                Array.from(document.getElementsByClassName("prev-page")).forEach(value => {
                    value.disabled = true;
                });
            }

            renderPage(currentPage);

            SetScale(currentScale, false);

            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });

            if (send) SendCurrPage();
        }

        function SetScale(scale, send = true) {
            currentScale = scale;

            Array.from(document.getElementsByClassName("set-scale")).forEach(value => {
                value.value = currentScale
            });

            document.querySelector(".fb2-canvas-container > section").style.fontSize = currentScale / 100 + "em";
            document.querySelector("#custom-modal").style.fontSize = currentScale / 100 + "em";

            if (send) SendCurrPage();
        }

        function clamp(value, min, max) {
            return Math.min(Math.max(value, min), max);
        }

        function SendCurrPage() {
            requestQueue.enqueue({
                method: 'POST',
                url: '/api/FileApi/UpdatePage',
                data: {
                    FileId: "@Model.FileId",
                    UserId: "@Model.UserId",
                    Page: currentPage,
                    Scale: currentScale,
                },
                options: {
                    headers: {
                        'RequestVerificationToken': GetAntiForgeryToken()
                    },
                    withCredentials: true
                },
                beforeSend: () => {
                    customSendCurrPageEvent.detail.message = `<div class="waiting"></div>`;
                    customSendCurrPageEvent.detail.type = EventTypes.INFINITE;
                    targetElement.dispatchEvent(customSendCurrPageEvent);
                }
            })
                .then(_ => {
                    customSendCurrPageEvent.detail.message = `<div class="success"></div>`;
                    customSendCurrPageEvent.detail.type = EventTypes.FROM_MILLIS;
                    customSendCurrPageEvent.detail.millis = 3000;
                    targetElement.dispatchEvent(customSendCurrPageEvent);
                })
                .catch(_ => {
                    customSendCurrPageEvent.detail.message = `<div class="error"></div>`;
                    customSendCurrPageEvent.detail.type = EventTypes.FROM_MILLIS;
                    customSendCurrPageEvent.detail.millis = 3000;
                    targetElement.dispatchEvent(customSendCurrPageEvent);
                });
        }
    </script>
}
