@model WebReader.Models.Dtos.FileViewModel

@{
    ViewData["Title"] = Model.Title;
}

@section Style
{
    <link rel="stylesheet" href="~/css/file-common-preview.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/file-pdf-preview.css" asp-append-version="true"/>
}

@if (IsNullOrEmptyOrWhitespace(Model.CurrentPartName))
{
    @section SpecialInfo {
        <h3 class="special-info-big">@Model.Title</h3>
    }

    <h3 class="special-info-small">@Model.Title</h3>
}
else
{
    @section SpecialInfo {
        <h3 class="special-info-big">@Model.CurrentPartName</h3>
    }

    <h3 class="special-info-small">@Model.CurrentPartName</h3>
}

@section HeaderMenuItems {
    @if (Model.PrevPartId.HasValue)
    {
        <li>
            <a asp-controller="File" asp-action="GetFile"
               asp-route-bucketId="@Model.BucketId" asp-route-fileId="@Model.PrevPartId.Value">
                Previous part
            </a>
        </li>
    }
    @if (Model.NextPartId.HasValue)
    {
        <li>
            <a asp-controller="File" asp-action="GetFile"
               asp-route-bucketId="@Model.BucketId" asp-route-fileId="@Model.NextPartId.Value">
                Next part
            </a>
        </li>
    }
    @if (Model.PrevPartId.HasValue || Model.NextPartId.HasValue)
    {
        <li>
            <a asp-controller="File" asp-action="GetAllPartsInFile"
               asp-route-bucketId="@Model.BucketId" asp-route-fileId="@Model.FileId">
                Parts
            </a>
        </li>
    }
    <li>
        <a asp-controller="File" asp-action="GetAllFilesInBucket"
           asp-route-bucketId="@Model.BucketId">
            @Model.BucketName
        </a>
    </li>
}

<div class="pdf-canvas-container common-container">
    <canvas id="pdf-canvas"></canvas>
</div>

<div class="big-page-nav">
    <button disabled class="prev-page-controller">
        <div class="prev-page"></div>
    </button>
    <button disabled class="next-page-controller">
        <div class="next-page"></div>
    </button>
</div>

<div class="event-output"></div>

@section Footer
{
    <div class="controls">
        <div class="spacer controls-start">
            @await Html.PartialAsync("_FullscreenControl")
            <div class="settings-container"></div>
        </div>
        <div class="controls-center">
            <button disabled class="prev-page prev-page-controller"></button>
            <span class="preview-page">0/0</span>
            <button disabled class="next-page next-page-controller"></button>
        </div>
        <div class="controls-end">
            <select class="set-scale">
                <option value="0">fixed</option>
                <option value="25">25%</option>
                <option value="50">50%</option>
                <option value="75">75%</option>
                <option value="100">100%</option>
            </select>
        </div>
    </div>
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/pdfjs-dist@latest/build/pdf.min.mjs" type="module"></script>
    <script src="~/js/settings.js"></script>
    <script type="module">
        import * as pdfjsLib from 'https://unpkg.com/pdfjs-dist@latest/build/pdf.min.mjs';

        pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://unpkg.com/pdfjs-dist@latest/build/pdf.worker.min.mjs';

        const url = @Html.Raw(Json.Serialize($"/api/S3/GetFile?bucketId={Model.BucketId}&fileId={Model.FileId}"));
        const decodedString = url.replace(/\\u0026/g, '&')
        let pdfDoc = null;
        let currentPage = @Model.Page;
        let maxPage = 1;
        let currentScale = @Model.Scale;

        setSettings(
            document.querySelector(".settings-container"),
            JSON.parse('@Html.Raw(Model.Settings.RootElement)'));

        requestQueue.enqueue({
            method: 'POST',
            url: decodedString,
            data: {},
            options: {
                responseType: 'arraybuffer',
                headers: {
                    'RequestVerificationToken': GetAntiForgeryToken()
                },
                withCredentials: true
            },
            beforeSend: () => {
                customSendCurrPageEvent.detail.message = `<div class="progress-bar"></div>
                                                          <div progress="0" class="progress-bar-inner progress-bar-inner-linear"></div>
                                                          <div progress="0" style="visibility: hidden" class="progress-bar-inner progress-bar-inner-text">0</div>`;
                customSendCurrPageEvent.detail.type = EventTypes.INFINITE;
                targetElement.dispatchEvent(customSendCurrPageEvent);
            },
            setProgress: (val) => {
                Array.from(document.getElementsByClassName("progress-bar-inner")).forEach(value => {
                    value.setAttribute('progress', val);

                    if (value.classList.contains('progress-bar-inner-linear')) {
                        value.style.width = `${46 * val / 100}%`;
                    } else if (value.classList.contains('progress-bar-inner-text')) {
                        value.innerHTML = val;
                    }
                });
            }
        })
            .then(response => {
                loadPdf(response);
                customSendCurrPageEvent.detail.message = `<div class="success"></div>`;
                customSendCurrPageEvent.detail.type = EventTypes.FROM_MILLIS;
                customSendCurrPageEvent.detail.millis = 3000;
                targetElement.dispatchEvent(customSendCurrPageEvent);
            })
            .catch(_ => {
                customSendCurrPageEvent.detail.message = `<div class="error"></div>`;
                customSendCurrPageEvent.detail.type = EventTypes.INFINITE;
                targetElement.dispatchEvent(customSendCurrPageEvent);
            });

        async function loadPdf(data) {
            pdfDoc = await pdfjsLib.getDocument(new Uint8Array(data)).promise;
            maxPage = pdfDoc.numPages;
            await SetScale(currentScale, false);
            await SetPage(currentPage, false);
        }

        async function renderPage() {
            const page = await pdfDoc.getPage(currentPage);
            const viewport = page.getViewport({scale: currentScale === 0 ? 3 : currentScale / 33});
            const canvas = document.getElementById('pdf-canvas');
            const context = canvas.getContext('2d');

            canvas.height = viewport.height;
            canvas.width = viewport.width;

            const renderContext = {
                canvasContext: context,
                viewport: viewport
            };
            await page.render(renderContext).promise;

            Array.from(document.getElementsByClassName("preview-page")).forEach(value => {
                value.textContent = `${currentPage}/${maxPage}`;
            });
        }

        Array.from(document.getElementsByClassName("prev-page-controller")).forEach(value => {
            value.onclick = () => {
                SetPage(--currentPage);

                Array.from(document.getElementsByClassName("next-page-controller")).forEach(value => {
                    value.disabled = false;
                });
            };
        });

        Array.from(document.getElementsByClassName("next-page-controller")).forEach(value => {
            value.onclick = () => {
                SetPage(++currentPage);

                Array.from(document.getElementsByClassName("prev-page-controller")).forEach(value => {
                    value.disabled = false;
                });
            };
        });

        Array.from(document.getElementsByClassName("set-scale")).forEach(value => {
            value.value = currentScale;

            value.onchange = (e) => {
                SetScale(e.target.value);
            };
        });

        async function SetPage(page, send = true) {
            currentPage = clamp(page, 1, maxPage);

            if (currentPage === maxPage) {
                Array.from(document.getElementsByClassName("prev-page-controller")).forEach(value => {
                    value.disabled = false;
                });
                Array.from(document.getElementsByClassName("next-page-controller")).forEach(value => {
                    value.disabled = true;
                });
            } else if (currentPage === 1) {
                Array.from(document.getElementsByClassName("prev-page-controller")).forEach(value => {
                    value.disabled = true;
                });
                Array.from(document.getElementsByClassName("next-page-controller")).forEach(value => {
                    value.disabled = false;
                });
            } else {
                Array.from(document.getElementsByClassName("prev-page-controller")).forEach(value => {
                    value.disabled = false;
                });
                Array.from(document.getElementsByClassName("next-page-controller")).forEach(value => {
                    value.disabled = false;
                });
            }

            await renderPage();

            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });

            if (send) SendCurrPage();
        }

        async function SetScale(scale, send = true) {
            currentScale = Number.parseInt(scale);

            Array.from(document.getElementsByClassName("set-scale")).forEach(value => {
                value.value = currentScale
            });

            if (currentScale === 0) {
                document.querySelector("main").classList.add("max-width-set");
                document.getElementById("pdf-canvas").style.maxWidth = "100%";
            } else {
                document.querySelector("main").classList.remove("max-width-set");
                document.getElementById("pdf-canvas").style.maxWidth = currentScale + "%";
            }

            await renderPage();

            if (send) SendCurrPage();
        }

        function clamp(value, min, max) {
            return Math.min(Math.max(value, min), max);
        }

        function SendCurrPage() {
            requestQueue.enqueue({
                method: 'POST',
                url: '/api/FileApi/UpdateReading',
                data: {
                    FileId: "@Model.FileId",
                    UserId: "@Model.UserId",
                    Page: currentPage,
                    Scale: currentScale,
                    IsLastPage: currentPage === maxPage,
                },
                options: {
                    headers: {
                        'RequestVerificationToken': GetAntiForgeryToken()
                    },
                    withCredentials: true
                },
                beforeSend: () => {
                    customSendCurrPageEvent.detail.message = `<div class="waiting"></div>`;
                    customSendCurrPageEvent.detail.type = EventTypes.INFINITE;
                    targetElement.dispatchEvent(customSendCurrPageEvent);
                }
            })
                .then(_ => {
                    customSendCurrPageEvent.detail.message = `<div class="success"></div>`;
                    customSendCurrPageEvent.detail.type = EventTypes.FROM_MILLIS;
                    customSendCurrPageEvent.detail.millis = 3000;
                    targetElement.dispatchEvent(customSendCurrPageEvent);
                })
                .catch(_ => {
                    customSendCurrPageEvent.detail.message = `<div class="error"></div>`;
                    customSendCurrPageEvent.detail.type = EventTypes.INFINITE;
                    targetElement.dispatchEvent(customSendCurrPageEvent);
                });
        }
    </script>
}
