@model WebReader.Models.Dtos.AllFilesReadingViewModel
@inject IHttpContextAccessor HttpContextAccessor
@{
    var nonce = HttpContextAccessor.HttpContext?.Items["ScriptNonce"]?.ToString();
    ViewData["Title"] = "READING";
}

@section Style
{
    <link rel="stylesheet" href="~/css/file-list.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/lazy-image.css" asp-append-version="true"/>
    <style>
        summary > span {
            cursor: pointer;
            position: relative;
        }

        summary > span::after {
            position: absolute;
            content: "";
            width: 0;
            bottom: 0;
            left: 50%;
            height: 0.025em;
            display: block;
            background: var(--foreground-color);
            transition: 150ms;
        }

        summary > span:hover::after {
            width: 100%;
            left: 0;
        }

        @@media (hover: none) and (pointer: coarse) {
            summary > span:hover::after {
                display: none;
            }
        }
    </style>
}

@section SpecialInfo {
    @if (User.Identity is { IsAuthenticated: true })
    {
        <h3 class="special-info-big">Hello, @User.Identity.Name!</h3>
    }
}

<div id="full_content">
    @foreach (var item in Model.Items)
    {
        <details open>
            <summary>
                <span>@item.Key.CustomName</span>
            </summary>

            <div>
                @foreach (var obj in item.Value)
                {
                    <div class="reading-line item-line" id="@("RL_" + obj.ReadingId)">
                        <div class="lazy-image-wrapper">
                            <img class="lazy-image"
                                 src=""
                                 data-src="@Url.Action("GetCover", "Cover", new { bucketId = item.Key.BucketId, fileId = obj.FileId })"
                                 alt="Book Cover for @obj.CustomName @obj.CurrentPartName"
                                 loading="lazy"/>
                            <div class="lazy-image-loader"></div>
                        </div>

                        <a asp-controller="File" asp-action="GetFile"
                           asp-route-bucketId="@item.Key.BucketId"
                           asp-route-fileId="@obj.FileId" class="click-effect">
                            <span>@obj.CustomName</span>
                            @if (obj.CurrentPartName != null)
                            {
                                <br/>
                                <span>@obj.CurrentPartName</span>
                            }
                        </a>

                        <div class="event-output">
                            <div class="text-info">@obj.Page</div>
                            <button class="remove click-effect delete-row-btn"
                                    data-id="@obj.ReadingId"
                                    data-name="@obj.CustomName @obj.CurrentPartName"></button>
                        </div>
                    </div>
                }
            </div>
        </details>
    }
</div>

@await Html.PartialAsync("_EmptyDisplay")

@section Scripts
{
    <script nonce="@nonce" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script nonce="@nonce">
        const url = '/api/FileApi/DeleteReading';
        const lineSelector = '.item-line';
    </script>
    <script nonce="@nonce" src="~/js/empty-row-control.js" asp-append-version="true"></script>
    <script nonce="@nonce" src="~/js/delete-row.js" asp-append-version="true"></script>
    <script nonce="@nonce" src="~/js/lazy-image-observer.js" asp-append-version="true"></script>
    <script nonce="@nonce">CheckOnEmpty()</script>
}
