@model WebReader.Models.Dtos.AllFilesReadingViewModel
@{
    ViewData["Title"] = "READING";
}

@section Style
{
    <style>
    </style>
}

@if (Model.Items.Any())
{
    @foreach (var item in Model.Items)
    {
        @foreach (var obj in item.Value)
        {
            <div>
                <a asp-controller="File" asp-action="GetFile"
                   asp-route-bucketName="@item.Key"
                   asp-route-fileName="@obj.Name">@item.Key - @obj.CustomName - @obj.DateTime - @obj.Page - @FormatSize(obj.Size)</a>
            </div>
        }
    }
}
else
{
    @await Html.PartialAsync("_EmptyDisplay")
}

@section Scripts
{
    <script>
    </script>
}
