@using WebReader.Models
@using TaskStatus = WebReader.Models.TaskStatus
@model WebReader.Models.Dtos.AllScheduledTaskConfigsViewModel

@{
    ViewBag.Title = "Scheduled Tasks";
}

@section Style
{
    <link rel="stylesheet" href="~/css/scheduled-tasks.css" asp-append-version="true"/>
}

@section SpecialInfo
{
    @if (User.Identity is { IsAuthenticated: true })
    {
        <h3 class="special-info-big">Hello, @User.Identity.Name!</h3>
    }
}

@await Html.PartialAsync("_ModalInfoWithCustomHtml")

<div class="tools">
    <form id="create-task">
        <h3>Create new task</h3>

        <div>
            <div>
                <label for="create-task-types">Type:</label>
                <select id="create-task-types" required>
                    <optgroup label="S3">
                        @foreach (var item in Model.Items.Where(f => GetS3Types().Contains(f.Type)))
                        {
                            <option value="@Html.Raw(item.Id)">@($"{item.Type}({(int)item.Type})")</option>
                        }
                    </optgroup>
                    <optgroup label="Download">
                        @foreach (var item in Model.Items.Where(f => GetDownloadTypes().Contains(f.Type)))
                        {
                            <option value="@Html.Raw(item.Id)">@($"{item.Type}({(int)item.Type})")</option>
                        }
                    </optgroup>
                    <optgroup label="Delete">
                        @foreach (var item in Model.Items.Where(f => GetDeleteTypes().Contains(f.Type)))
                        {
                            <option value="@Html.Raw(item.Id)">@($"{item.Type}({(int)item.Type})")</option>
                        }
                    </optgroup>
                </select>
            </div>

            <div>
                <label for="create-task-have-to-start-at">Start At:</label>
                <input type="datetime-local" id="create-task-have-to-start-at" step="1" required value="">
            </div>
        </div>

        <button id="create-task-submit-btn" class="btn" type="submit">Confirm</button>
    </form>

    <form>
        <h3>Filter</h3>

        <div>
            <div>
                <label for="task-filter-types">Type:</label>
                <select id="task-filter-types">
                    <option value="All">All</option>
                    <optgroup label="S3">
                        @foreach (var item in GetS3Types())
                        {
                            <option value="@((int)item)">@($"{item}({(int)item})")</option>
                        }
                    </optgroup>
                    <optgroup label="Download">
                        @foreach (var item in GetDownloadTypes())
                        {
                            <option value="@((int)item)">@($"{item}({(int)item})")</option>
                        }
                    </optgroup>
                    <optgroup label="Delete">
                        @foreach (var item in GetDeleteTypes())
                        {
                            <option value="@((int)item)">@($"{item}({(int)item})")</option>
                        }
                    </optgroup>
                </select>
            </div>

            <div>
                <label for="task-filter-statuses">Status:</label>
                <select id="task-filter-statuses">
                    <option value="All">All</option>
                    @foreach (var item in Enum.GetValues<TaskStatus>())
                    {
                        <option value="@((int)item)">@($"{item}({(int)item})")</option>
                    }
                </select>
            </div>

            <div>
                <label for="task-filter-crons">Cron:</label>
                <select id="task-filter-crons">
                    <option value="All">All</option>
                    @foreach (var item in Enum.GetValues<TaskConfigCron>())
                    {
                        <option value="@((int)item)">@($"{item}({(int)item})")</option>
                    }
                </select>
            </div>
        </div>
    </form>
</div>

<div id="scheduled_tasks_partial">
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/9.0.6/signalr.min.js"
            integrity="sha512-kkMt8UThSmWcdXLYFaGZ/U6vyWSNLZMUWQ5SMeF80pGqrEkH5ei9D/3MbVQpB8p7D5C3A4vlX7BpsWTT2BfB6A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        const rawValues = {
            "Type": null,
            "Status": null,
            "Cron": null,
        };

        reload();

        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/ScheduledTaskHub")
            .build();

        connection.on("ScheduledTaskHub", reload)

        connection.start()
            .then(() => {
            })
            .catch(err => console.error(err.toString()));

        function reload() {
            const filteredValues = Object.fromEntries(
                Object.entries(rawValues)
                    .filter(([_, val]) => val !== null && val !== undefined && val !== 'All')
                    .map(([key, value]) => [key, String(value)])
            );

            requestQueue.enqueue({
                method: 'POST',
                url: '/ScheduledTask/ScheduledTasksPartial',
                data: {Values: filteredValues},
                options: {
                    headers: {
                        'RequestVerificationToken': GetAntiForgeryToken()
                    },
                    withCredentials: true
                },
                beforeSend: () => {
                },
                setProgress: (val) => {
                }
            })
                .then(async response => {
                    document.getElementById('scheduled_tasks_partial').innerHTML = await response.data;

                    toLocalDateTime();
                })
                .catch(error => {
                    console.error(`Ошибка при выполнении AJAX-запроса: ${error}`);
                });
        }

        function setDefaultDateTime() {
            const now = new Date();

            const offsetMs = now.getTimezoneOffset() * 60 * 1000;

            document.getElementById('create-task-have-to-start-at').value = new Date(now.getTime() - offsetMs).toISOString().slice(0, 19);
        }

        setDefaultDateTime();

        document.getElementById('create-task').onsubmit = (event) => {
            event.preventDefault();

            const optionSelect = document.getElementById('create-task-types');
            const dateTimeInput = document.getElementById('create-task-have-to-start-at');
            const submitBtn = document.getElementById('create-task-submit-btn');

            optionSelect.disabled = true;
            dateTimeInput.disabled = true;
            submitBtn.disabled = true;
            submitBtn.innerText = 'Sending...';

            const dateTimeOffset = new Date(dateTimeInput.value).toISOString();

            requestQueue.enqueue({
                method: 'POST',
                url: '/ScheduledTask/CreateTask',
                data: {
                    ScheduledTaskConfigId: optionSelect.value,
                    HaveToStartAt: dateTimeOffset
                },
                options: {
                    headers: {
                        'RequestVerificationToken': GetAntiForgeryToken()
                    },
                    withCredentials: true
                },
                beforeSend: () => {
                },
                setProgress: (val) => {
                }
            })
                .then(async response => {
                })
                .catch(error => {
                    console.error('Ошибка при отправке:', error);
                })
                .finally(_ => {
                    optionSelect.disabled = false;
                    dateTimeInput.disabled = false;
                    submitBtn.disabled = false;
                    setDefaultDateTime();
                    submitBtn.innerText = 'Confirm';
                });
        };

        document.getElementById('task-filter-types').onchange = (event) => {
            rawValues.Type = event.target.value;
            reload();
        };
        document.getElementById('task-filter-statuses').onchange = (event) => {
            rawValues.Status = event.target.value;
            reload();
        };
        document.getElementById('task-filter-crons').onchange = (event) => {
            rawValues.Cron = event.target.value;
            reload();
        };
    </script>
}
