@using WebReader.Models
@using TaskStatus = WebReader.Models.TaskStatus
@model WebReader.Models.Dtos.AllScheduledTaskConfigsViewModel

@{
    ViewBag.Title = "Scheduled Tasks";
}

@section Style
{
    <link rel="stylesheet" href="~/css/scheduled-tasks.css" asp-append-version="true"/>
}

@section SpecialInfo
{
    @if (User.Identity is { IsAuthenticated: true })
    {
        <h3 class="special-info-big">Hello, @User.Identity.Name!</h3>
    }
}

@await Html.PartialAsync("_ModalInfoWithCustomHtml")

<div class="tools">
    <form id="create-task">
        <h3>Create new task</h3>

        <div class="create-task-types-container">
            <label for="create-task-types">Type:</label>
            <select id="create-task-types" class="click-effect" required>
                <optgroup label="S3">
                    @foreach (var item in Model.Items.Where(f => GetS3Types().Contains(f.Type)))
                    {
                        <option value="@((int)item.Type)">@($"{item.Type}({(int)item.Type})")</option>
                    }
                </optgroup>
                <optgroup label="Download">
                    @foreach (var item in Model.Items.Where(f => GetDownloadTypes().Contains(f.Type)))
                    {
                        <option value="@((int)item.Type)">@($"{item.Type}({(int)item.Type})")</option>
                    }
                </optgroup>
                <optgroup label="Delete">
                    @foreach (var item in Model.Items.Where(f => GetDeleteTypes().Contains(f.Type)))
                    {
                        <option value="@((int)item.Type)">@($"{item.Type}({(int)item.Type})")</option>
                    }
                </optgroup>
            </select>
        </div>

        <div class="create-task-have-to-start-at-container">
            <label for="create-task-have-to-start-at">Start At:</label>
            <input type="datetime-local" id="create-task-have-to-start-at" step="1" required value=""
                   class="click-effect">
        </div>

        <div class="create-task-priority-container">
            <label for="create-task-priority">Priority:</label>
            <input type="range" id="create-task-priority" min="-128" max="127" value="0" list="priority-marks"/>
            <datalist id="priority-marks">
                <option value="-128"></option>
                <option value="0"></option>
                <option value="127"></option>
            </datalist>
        </div>

        <div class="create-task-settings-container">
            <label for="create-task-settings">Settings:</label>
            <textarea id="create-task-settings" spellcheck="false"></textarea>
        </div>

        <button id="create-task-submit-btn" class="btn click-effect" type="submit">Confirm</button>
    </form>
</div>

<div id="scheduled_tasks_partial">
</div>

@section Footer
{
    <select id="task-filter-types" class="click-effect">
        <option value="All">All Types</option>
        <optgroup label="S3">
            @foreach (var item in GetS3Types())
            {
                <option value="@((int)item)">@($"{item}({(int)item})")</option>
            }
        </optgroup>
        <optgroup label="Download">
            @foreach (var item in GetDownloadTypes())
            {
                <option value="@((int)item)">@($"{item}({(int)item})")</option>
            }
        </optgroup>
        <optgroup label="Delete">
            @foreach (var item in GetDeleteTypes())
            {
                <option value="@((int)item)">@($"{item}({(int)item})")</option>
            }
        </optgroup>
    </select>
    <select id="task-filter-statuses" class="click-effect">
        <option value="All">All Statuses</option>
        @foreach (var item in Enum.GetValues<TaskStatus>())
        {
            <option value="@((int)item)">@($"{item}({(int)item})")</option>
        }
    </select>
    <select id="task-filter-crons" class="click-effect">
        <option value="All">All Crons</option>
        @foreach (var item in Enum.GetValues<TaskCron>())
        {
            <option value="@((int)item)">@($"{item}({(int)item})")</option>
        }
    </select>
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/9.0.6/signalr.min.js"
            integrity="sha512-kkMt8UThSmWcdXLYFaGZ/U6vyWSNLZMUWQ5SMeF80pGqrEkH5ei9D/3MbVQpB8p7D5C3A4vlX7BpsWTT2BfB6A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="~/js/scheduled-task/scheduled-task.js"></script>
    <script src="~/js/scheduled-task/scheduled-task-websocket.js"></script>
    <script src="~/js/scheduled-task/scheduled-task-filters.js"></script>
    <script src="~/js/scheduled-task/scheduled-task-form.js"></script>

    <script>
        const taskConfigDefinitions = @Html.Raw(JsonSerializer.Serialize(Model.Items));

        reload();
        setDefaultDateTime();
        updateCreateTaskFromField(typeSelect.value);
    </script>
}
